.avatar {
    margin-top: -70px;
}

li{
  list-style: none;
}
ul li:before {    
  font-family: 'FontAwesome';
  content: "\f00c";
  margin:0 5px 0 -15px;
  color: green;
}
.mini-img {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

.shrinkImg {
  padding: 10%;
}

.mobileImg  {
  padding: 0 31%;
  background: rgb(145, 145, 145);
  /* height: unset !important; */
  /* background-size: contain !important; */

}